//Festkoenigin Theme Colors
$dark-brown: #262324 !default;
$fest-gold: #a08a58 !default;
$fest-grey: #404041 !default;
$fest-beige: #f8f6f2 !default;

$theme-colors: (
  "dark-brown": $dark-brown,
  "fest-gold": $fest-gold,
  "fest-grey": $fest-grey,
  "fest-beige": $fest-beige
);
